/*all content*/
*{
    text-align: center;
}

/*body*/
body{
    background-color: lightskyblue;
}


/*main*/
main{
    background-color: lightgray;
    width: 90%;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
}

main *{
    color: black;
}

main button{
    width: 100px;
    justify-content: center;
}


/*main header*/
h1{
    font-size: 60px;
    color: yellow;
    -webkit-text-stroke: 1px blue; /* For Webkit based browsers like Chrome, Safari */
    text-decoration: underline;
}


/*section headers*/
h2{
    margin-bottom: 0;
}


/*suggestions*/
span{
    text-decoration: underline;
}
span:hover
{
    cursor: pointer;
}

